<%- include("partials/header.ejs") %>
    <div>
        <div class="container">
            <p>Hi width that you can tweet or give likes and retweet</p>
            <p>Select an option</p>
        </div>
        <div class="container">
            <div class="container">
                <a href="/posTweet">Post tweet</a> 
            </div>
            <div class="container">
                <a href="/likeTweets">MG</a>
            </div>
            <div class="container">
               <a href="/rTweets">RT</a>  
            </div>
		    
               	
        </div>
    </div>
