<%- include("partials/header.ejs") %>
    <div class="text-center">
        <div class="jumbotron">
            <div class="container">
                <div class="colm-md-6">Welcome to the bot</div>
            </div>   
        </div>
        <div class="container " >
            <div class="container">
                <form action="api/auth" method="PUT">
                    
                    <div class="container">
                        </div>
                </form>
            </div>      
               	
        </div>
        <a href="/index" class="btn btn-clock btn-success">Get Started</a>  
                    
    </div>
